body {
    background-color: rgb(246, 250, 253);
}

#navbar {
    display: flex;
}

#navbar::before {
    content: "";
    background: url('laptopontable.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: -1;
    top: 0px;
    left: 0px;
}

#navbar ul {
    display: flex;
    flex-direction: row-reverse;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: black;
    display: block;

    padding: 5px 30px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.3rem;
}



.box h3 {
    text-align: center;
    font-size: 2.2rem;
}

.box p {
    text-align: center;
    font-size: 1.5rem;
    color: grey;
}

.box #btn1 {
    border: 1px solid rgb(128, 219, 128);
    border-radius: 20px;
    margin: 10px 34px;
    padding: 12px 26px;
    background-color: rgb(128, 219, 128);
    color: white;
}

#btn2 img {
    margin: -10px 4px;
    height: 25px;
    width: 26px;

    border-radius: 26px;
}

.box #btn2 {
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin: 9px 160px;
    padding: 12px 20px;
    background-color: lightgrey;
    color: black;

}

.box {
    border: 2px solid whitesmoke;
    width: 52%;
    margin: 0px 220px;
    background-color: white;
}


.box2 {
    display: flex;
    border: 2px solid whitesmoke;
    width: 52%;
    padding-bottom: 17px;
    margin: 14px 220px;
    background-color: white;
}

.box2 h3 {

    margin: 10px 78px;
    padding: 13px 16px;
}

.box2 p {
    color: lightgrey;
    margin: -4px -3px;

}

.box2 hr {
    display: flex;
    margin: 26px -6px;

}

.line hr {
    position: relative;
    top: -42px;
    left: -185px;
    margin: 7px 465px;
    padding: 6px;
    background-color: green;
}

.box3 {
    border: 2px solid whitesmoke;
    padding: 10px 16px;
    width: 52%;
    margin: -23px 220px;
    background-color: white;
}

.box3 .inbox1 {

    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 81%;
    margin: 14px 55px;
}

.box3 .inbox1 h2 {
    display: inline;
}

.box3 .inbox1 h5 {
    display: inline;
    color: green;
    font-size: 1.2rem;
    margin: 90px;
}

.box3 .inbox1 h3 {
    display: inline;
}

.box3 .inbox1 button {
    border: 1px solid rgb(128, 219, 128);
    border-radius: 20px;
    margin: 10px 196px;
    padding: 12px 9px;
    background-color: rgb(108, 211, 108);
    color: white;
}

#mahogany h5 {
    margin: 45px;
}

#mahogany button {
    border: 1px solid lightgrey;
    background-color: rgb(204, 201, 201);
}

#btn1:hover {
    background-color: rgb(70, 145, 70);
}

#btn2:hover {
    background-color: grey
}

.inbox1 button:hover {
    background-color: rgb(70, 145, 70);
}

#navbar ul li a:hover {
    background-color: whitesmoke;
    border-radius: 20px;
}

@media only screen and (max-width:1200px) {
    body {
        background-color: red;
    }

    .box2 {
        display: block;
        padding: 0px -1px;
    }

    .box #btn2 {
        margin: 0px 60px;
    }
}

@media only screen and (max-width: 900px) {


    .box #btn2 {
        margin: 0px 30px;
    }
}

@media only screen and (max-width: 700px) {

    .box #btn2 {
        margin: 0px 30px;
    }

    .box3 .inbox1 {
        margin: 14px 0px;
    }

    .box3 .inbox1 button {
        margin: 10px 0px;
    }
}

@media only screen and (max-width: 550px) {

    .box #btn2 {
        margin: 0px 30px;
    }

    .box3 .inbox1 {
        margin: 14px 0px;
    }

    .box3 .inbox1 button {
        margin: 10px 0px;
    }

    #navbar ul li a {
        padding: 0px 0px;
    }
}